.container {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.36) 0%, rgba(0, 0, 0, 0.36) 100%), #1B476E;
    transition: background 0.3s ease;
    line-height: 1.4; /* 22px */
}

.headerMain {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    height: 42px;
    display: flex;
    align-items: center;
    gap: 32px;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
}

.line {
    background: rgba(255, 255, 255, 0.4);
    width: 1px;
    height: 11px;
}

.phone {
    gap: 10px;
}

.email {
    gap: 10px;
}

.channel {
    height: 100%;
    gap: 24px;
}

.channelItem {
    height: 100%;
    cursor: pointer;
    position: relative;
}

.channelItem:hover .channelPopup {
    display: block;
}

.channelPopup {
    display: none;
    position: absolute;
    z-index: 999;
    top: 30px;
    padding-top: 5px;
    transform: translateX(-20px);
    min-width: 100%;
    box-sizing: content-box;
}

.channelPopupCon {
    width: max-content;
    background: #FFFFFF;
    border-radius: 4px;
    padding: 16px 26px;
    color: #006296;
    font-size: 16px;
    font-weight: 500;
}