.right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;

    .toolItemButton {
        margin-top: auto;
    }
}

.gradientText {
    background: linear-gradient(180deg, #2B7FFF 0%, #0B56FF 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 24px;
    font-weight: 600;
}