.container {
    background: #1B476E;
    color: #fff;
}

.footerTop {
    margin: 0 auto;
    background: #F0F8FB;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerMain {
    justify-content: space-between;
    align-items: flex-start;
    font-size: 14px;
    line-height: 20px;
    padding: 31px 0;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.logo {
    margin-bottom: 20px;
}

.contact {
    height: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.channel {
    margin-top: 12px;
    display: flex;
    gap: 24px;
}

.right {
    align-items: flex-start;
    width: 602px;
    gap: 96px;
    font-weight: 300;
}

.rightItem {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.rightItemTitle {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4;
    margin-bottom: 6px;
}


.footerBottom {
    line-height: 50px;
    text-align: center;
    width: 100%;
    height: 50px;
    background: rgba(85, 193, 234, 0.10);
}